<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Subject Student</title>
    <link rel="stylesheet" href="/css/selectsubstud.css">
</head>
<body>
    <form action="/student">
        <button class="b1" type="submit">SCIENCE</button>
    </form>
    <form action="/student1">
        <button class="b2"  type="submit">HISTORY</button>
    </form>
    <form action="/student2">
        <button  class="b3" type="submit">ENGLISH</button>
    </form>
</body>
</html>